<div data-ng-controller="CurrencyRateController as $ctrl">
  <div class="row">
    <div class="form-group">
      <input type="text" class="form-control" id="currencyratesearch" placeholder="Search currency rates" data-ng-model="currencyratesearch" />
    </div>
    <div class="col-xs-3">
      <label for="datePicked">Date
      
      <p class="input-group">
      <input id="datePicked" placeholder="yyyy-mm-dd"  type="text" datepicker-popup="yyyy-MM-dd" 
             ng-model="datePicked"
             is-open="$ctrl.opened" close-text="Close" class="form-control"/>
      <span class="input-group-btn">
        <!-- <button type="button" ng-click="$ctrl.open($event)" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button> -->
      </span>
      </p>
       <!-- -->
      <!-- 
      <p class="input-group">
      <input type="text" class="form-control" datepicker-popup ng-model="datePicked" is-open="$parent.status.opened"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      </p>
      -->
      </label>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <button ng-click="$ctrl.getAllCurrencyRateChanges()" class="btn btn-primary">Get all currency rate changes</button>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <th>Currency code</th>
          <th>Dates compared</th>
          <th>Difference</th>
        </tr>
        <tr data-ng-repeat="currencyRate in currencyRates | filter:currencyratesearch" >
          <td>{{currencyRate.currency.code}}</td>
          <td>{{currencyRate.currency.code}}</td>
          <td>{{currencyRate.currency.code}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
