<div data-ng-controller="CurrencyRateController as $ctrl">
  <div class="row">
    <div class="alert alert-danger" ng-show="errorMessage"> {{ errorMessage }} </div>
    <div class="form-group">
      <input type="text" class="form-control" id="currencyratesearch" placeholder="Search currency rates" data-ng-model="currencyratesearch" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="form-group" ng-class="{ 'has-error' : errors['datePicked'] }">
        <label class="control-label" for="txtDate">Date Picked:</label>
          <p class="input-group" style="width:200px;">
            <input type="text" class="form-control" is-open="datePickedPopup.opened" ng-model="datePicked"
                   uib-datepicker-popup="{{dateFormat}}" 
                   datepicker-options="datePickedOptions"
                   close-text="Close"
                   popup-placement="bottom-left" on-open-focus="false" 
                   ng-change="$ctrl.changeDateToMinDate(datePicked)"
                   placeholder="yyyy-MM-dd"/>
            <span class="input-group-btn">
               <button type="button" ng-click="$ctrl.openDatePicked($event)" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
           </span>
          </p>
          <p class="help-block" ng-show="errors['datePicked']"> {{ errors['datePicked'] }} </p>
      </div>
    </div>
    <!-- 
    <div class="col-xs-3">
      <div class="form-group" ng-class="{ 'has-error' : errors['datePickedFrom'] }">
        <label class="control-label" for="txtDate">Date from:</label>
          <p class="input-group" style="width:200px;">
            <input type="text" class="form-control" is-open="dateFromPopup.opened" ng-model="datePickedFrom"
                   uib-datepicker-popup="{{dateFormat}}" 
                   datepicker-options="dateFromOptions"
                   close-text="Close"
                   popup-placement="bottom-left" on-open-focus="false" 
                   ng-change="$ctrl.changeDateToMinDate(datePickedFrom)"
                   placeholder="yyyy-MM-dd"/>
            <span class="input-group-btn">
               <button type="button" ng-click="$ctrl.openDateFrom($event)" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
           </span>
          </p>
          <p class="help-block" ng-show="errors['datePickedFrom']"> {{ errors['datePickedFrom'] }} </p>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group" ng-class="{ 'has-error' : errors['datePickedTo'] }">
        <label class="control-label" for="txtDate">Date to:</label>
          <p class="input-group" style="width:200px;">
            <input type="text" class="form-control" is-open="dateToPopup.opened" ng-model="datePickedTo"
                   uib-datepicker-popup="{{dateFormat}}" 
                   datepicker-options="dateToOptions"
                   close-text="Close"
                   popup-placement="bottom-left" on-open-focus="false"
                   placeholder="yyyy-MM-dd"/>
            <span class="input-group-btn">
               <button type="button" ng-click="$ctrl.openDateTo($event)" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
           </span>
          </p>
          <p class="help-block" ng-show="errors['datePickedTo']"> {{ errors['datePickedTo'] }} </p>
      </div>
    </div>
    -->
  </div>
  <div class="row">
    <div class="form-group">
      <button ng-click="$ctrl.getAllCurrencyRateChanges()" class="btn btn-primary">Get all currency rate changes</button>
    </div>
    <i ng-hide="dataLoaded" class="fa fa-refresh fa-spin" style="font-size:24px"></i>
      <table ng-show="dataLoaded" class="table table-striped table-hover">
      <tbody>
        <tr>
          <th>Currency code</th>
          <th>Dates compared</th>
          <th>Absolute difference</th>
        </tr>
        <tr data-ng-repeat="currencyRate in currencyRates | filter:currencyratesearch" >
          <td>{{currencyRate.currency.code}}</td>
          <td>{{currencyRate.actualDate}} / {{currencyRate.comparedDate}}</td>
          <td>{{currencyRate.absoluteDifferenceFormatted}}</td>
        </tr>
      </tbody>
      </table>
  </div>
</div>
