<div class="container">
    <div ng-controller="TabsController" class="row">
        <nav>
        <ul class="nav nav-tabs">
            <li ng-repeat="tab in tabs"><a href="#/" ng-click="setCurrentTab(tab.id)">{{ tab.title }}</a></li>
        </ul>
        </nav>
        <div id="{{currentTab.id}}" class="tab-content">
            <div class="tab-pane active" role="tabpanel">
                <div ng-include src="templateUrl(currentTab.id)"></div>
            </div>
        </div>
    </div>
</div>

